{% macro loop_detect(this) %}
{%      set header_name = "X-Rev-Nodes" %}
{%      set node_name = HOSTNAME_SHORT %}
    # If we've already visited this server during this request, in the same role (BP or CO),
    # return an error page and status 508 (loop detected).
    RewriteEngine On
    RewriteCond %{HTTP:{{header_name}}} {{node_name}}
    RewriteRule ^(.*)$ - [R=508,L]
    ErrorDocument 508 "A redirection loop was detected on '{{node_name}}'. Please review the server configuration."
    # Add this host to the request list of visited nodes
    RequestHeader append {{header_name}} {{node_name}}
{%      if this.DEBUG_MODE %}
    # Add this host to the response list of visited nodes
    Header append {{header_name}} {{node_name}}
{%      endif %}
{% endmacro %}{# loop_detect #}
