{% set ssl_ciphers = "ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS" %}
{% set site_cert_dir = "/opt/revsw-config/apache/" + GLOBAL_SITE_NAME + "/certs" %}

{% macro _do_setup_no_proxy(this, cert_dir) %}
    # Disable SSLv2/3 because of SNI, which requires TLS
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    # No need to mitigate CRIME attack - SSL compression is off by default
    # Use stronger ciphers, which may mitigate BEAST attacks
    ssl_ciphers {{ssl_ciphers}};
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_certificate {{cert_dir}}/server-chained.crt;
    ssl_certificate_key {{cert_dir}}/server.key;
{%- endmacro %}

{% macro _do_setup_proxy_only(this, cert_dir) %}
    # Disable SSLv2/3 because of SNI, which requires TLS
    proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    # No need to mitigate CRIME attack - SSL compression is off by default
    # Use stronger ciphers, which may mitigate BEAST attacks
    proxy_ssl_ciphers {{ssl_ciphers}};
    proxy_ssl_certificate {{cert_dir}}/server-chained.crt;
    proxy_ssl_certificate_key {{cert_dir}}/server.key;
    proxy_ssl_verify off;
{%- endmacro %}

{% macro setup_no_proxy(this) %}
    # Begin SSL setup (no proxy)
{{  _do_setup_no_proxy(this, site_cert_dir) }}
    # End SSL setup
{%- endmacro %}

{% macro setup_proxy_only(this) %}
    # Begin SSL setup (proxy-only)
{{  _do_setup_proxy_only(this, site_cert_dir) }}
    # End SSL setup
{%- endmacro %}

{% macro setup(this) %}
    # Begin SSL setup
{{  _do_setup_no_proxy(this, site_cert_dir) }}
{{  _do_setup_proxy_only(this, site_cert_dir) }}
    # End SSL setup
{%- endmacro %}