{% macro get_rules(this, location) -%}
  SecRulesEnabled;
  {% for waf in this.WAF_RULES %}
    {% if waf.location == location %}
      {% if waf.enable_learning_mode %}
        LearningMode;
      {% endif %}
      {% if waf.enable_sql_injection_lib %}
        LibInjectionSql;
      {% endif %}
      {% if waf.enable_xss_injection_lib %}
        LibInjectionXss;
      {% endif %}

      {% for rule in waf.waf_rules %}
        include /opt/revsw-config/waf-rules/{{ rule }}.rule;
      {% endfor %}

      {% for action in waf.waf_actions %}
        CheckRule "{{ action.condition }}" {{ action.action }};
      {% endfor %}
    {% endif %}
  {% endfor %}
  DeniedUrl "/50x.html";
{%- endmacro %}