{% macro get_rules(this, location) -%}
  {% if this.ENABLE_WALLARM %}
    {% for wallarm_cfg in this.WALLARM_CONFIG %}
      {% if wallarm_cfg.location == location and wallarm_cfg.wallarm_mode != "off" %}
        wallarm_mode {{ wallarm_cfg.wallarm_mode }};
        wallarm_instance {{ wallarm_cfg.wallarm_instance }};
        wallarm_mode_allow_override {{ wallarm_cfg.wallarm_mode_allow_override }};
        wallarm_parse_response {{ wallarm_cfg.wallarm_parse_response }};
        wallarm_parser_disable {{ wallarm_cfg.wallarm_parser_disable }};
        wallarm_process_time_limit {{ wallarm_cfg.wallarm_process_time_limit }};
        wallarm_process_time_limit_block {{ wallarm_cfg.wallarm_process_time_limit_block }};
        wallarm_unpack_response {{ wallarm_cfg.wallarm_unpack_response }};
      {% endif %}
    {% endfor %}
  {% endif %}
{%- endmacro %}
