{
"configuration_type": "ssl_config",
"operation": "app-update",
"configs": [1, 2],
"rule_body": "test\ntest",
"id": "1",
"public_ssl_cert": "test",
"private_ssl_key": "test",
"private_ssl_key_passphrase": "test"
}