Source: revsw-config-common
Version: 1.0.0
Section: base
Priority: optional
Maintainer: Victor Brunko <vbrunko@revsw.com>
Package: revsw-config-common
Architecture: all
Depends: python-jinja2 (>= 2.7), python-jsonschema (>= 2.3), python-dnspython, libwebsockets3, libwebsockets-dev
Description: Rev Software common configuration Python modules
Preinst: preinst
Postinst: postinst
