{% macro profile_selection(this) -%}
    # Always default to profile 0 (passthrough) for now
    RevProfilesAddSelectionRule 0 1==1
{%- endmacro %}

{% macro profile0(this) -%}
    # No optimizations
{%- endmacro %}

{% macro profile1(this) -%}
    # No low optmization
{%- endmacro %}

{% macro profile2(this) -%}
    # No medium
{%- endmacro %}

{% macro profile2(this) -%}
    # No high
{%- endmacro %}
